In [73]:
import json, requests
import re
import pandas as pd
import numpy as np
from pymongo import ASCENDING, DESCENDING
from pymongo import MongoClient
import os
from dotenv import load_dotenv
load_dotenv()

True

import os
from dotenv import load_dotenv
load_dotenv()

def getApi(endpoint, queryParams={}):
    url = f"https://api.github.com{endpoint}"

    apiKey = os.getenv("ID")
    apiKey = os.getenv("SECRET")
    if not apiKey:
        raise ValueError("Please setup the GITHUB_APIKEY env variable")
    headers = {
        "Authorization": f"token {apiKey}"
    }
    
    res = requests.get(url, headers=headers, params=queryParams)
    print(res.url)
    return res.json()

import json, requests
import os
from dotenv import load_dotenv
load_dotenv()
url = 'https://api.foursquare.com/v2/venues/explore'

params = dict(
client_id=os.getenv("ID"),
client_secret=os.getenv("SECRET"),
v='20200601',
near="Chicago, IL",
locale="es", 
query='vegan'
)
resp = requests.get(url=url, params=params)
data = json.loads(resp.text)

In [71]:
dbName = "companies"
mongodbURL = f"mongodb://localhost/{dbName}"

client = MongoClient(mongodbURL, connectTimeoutMS=2000, serverSelectionTimeoutMS=2000)
db = client.get_database()

In [58]:
companies=list(db.companies.find({'category_code':{'$in':[re.compile(r"game(?i)"),re.compile(r"design(?i)")]}},{"name":1, "offices":1, "_id":0}))

In [59]:
df = pd.DataFrame(list(companies))

In [60]:
offices = df.explode("offices").apply(lambda e: e.offices,axis=1,result_type="expand")
offices

,description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude
0,None,"8536 National Blvd, Suite A",None,90232,Culver City,CA,USA,34.025958,-118.379768
1,Lala Headquarters,209 Hamilton Ave,Suite #200,94301,Palo Alto,CA,USA,37.451151,-122.154369
2,,100 5th Ave Fl 6,,10011-6903,New York,NY,USA,40.746497,-74.009447
3,,,,,London,None,GBR,53.344104,-6.267494
4,None,None,None,None,None,None,USA,37.090240,-95.712891
...,...,...,...,...,...,...,...,...,...
1083,HQ,,,,Dallas,TX,USA,NaN,NaN
1084,New York,32-14 42nd St,,11103,Astoria,NY,USA,40.759795,-73.916127
1084,Houston,2208 Colquitt,,77098,Houston,TX,USA,29.735462,-95.413243
1085,,163 Hastings St W,,BC V6B 1H5,Vancouver,None,CAN,49.282455,-123.109217
1086,Lisbon Office,Rua RosÃ¡lia de Castro,,1700,Lisbon,None,PRT,38.752367,-9.146221

In [61]:
clean_offices = pd.concat([df[["name"]], offices], axis=1)
clean_offices

,name,description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude
0,Flektor,None,"8536 National Blvd, Suite A",None,90232,Culver City,CA,USA,34.025958,-118.379768
1,Lala,Lala Headquarters,209 Hamilton Ave,Suite #200,94301,Palo Alto,CA,USA,37.451151,-122.154369
2,Joost,,100 5th Ave Fl 6,,10011-6903,New York,NY,USA,40.746497,-74.009447
3,Babelgum,,,,,London,None,GBR,53.344104,-6.267494
4,Sparter,None,None,None,None,None,None,USA,37.090240,-95.712891
...,...,...,...,...,...,...,...,...,...,...
1083,Rev Media,HQ,,,,Dallas,TX,USA,NaN,NaN
1084,Fictionaut,New York,32-14 42nd St,,11103,Astoria,NY,USA,40.759795,-73.916127
1084,Fictionaut,Houston,2208 Colquitt,,77098,Houston,TX,USA,29.735462,-95.413243
1085,Tiny Speck,,163 Hastings St W,,BC V6B 1H5,Vancouver,None,CAN,49.282455,-123.109217
1086,My TV Shows,Lisbon Office,Rua RosÃ¡lia de Castro,,1700,Lisbon,None,PRT,38.752367,-9.146221

In [63]:
def transformToGeoPoint(s):
    if np.isnan(s.latitude) or np.isnan(s.longitude):
        return None
    return {
        "type":"Point",
        "coordinates":[s.longitude, s.latitude]
    }
    

clean_offices["geopoint"] = clean_offices.apply(transformToGeoPoint, axis=1)

In [92]:
clean_offices.head()

,name,description,address1,address2,zip_code,city,state_code,country_code,latitude,longitude,geopoint
0,Flektor,None,"8536 National Blvd, Suite A",None,90232,Culver City,CA,USA,34.025958,-118.379768,"{'type': 'Point', 'coordinates': [-118.379768,..."
1,Lala,Lala Headquarters,209 Hamilton Ave,Suite #200,94301,Palo Alto,CA,USA,37.451151,-122.154369,"{'type': 'Point', 'coordinates': [-122.154369,..."
2,Joost,,100 5th Ave Fl 6,,10011-6903,New York,NY,USA,40.746497,-74.009447,"{'type': 'Point', 'coordinates': [-74.0094471,..."
3,Babelgum,,,,,London,None,GBR,53.344104,-6.267494,"{'type': 'Point', 'coordinates': [-6.267494, 5..."
4,Sparter,None,None,None,None,None,None,USA,37.090240,-95.712891,"{'type': 'Point', 'coordinates': [-95.712891, ..."

In [67]:
clean_offices.to_json("offices.json",orient="records")

In [70]:
clean_offices["city"].value_counts()

New York         75
San Francisco    69
                 54
London           37
Los Angeles      31
                 ..
Lancaster         1
Prague 8          1
Malmo             1
Midland           1
NYC               1
Name: city, Length: 365, dtype: int64

# Starbucks

In [ ]:
import os
from dotenv import load_dotenv
load_dotenv()

def getFromGithub(endpoint, queryParams={}):
    url = f"https://api.github.com{endpoint}"

    apiKey = os.getenv("GITHUB_APIKEY")
    if not apiKey:
        raise ValueError("Please setup the GITHUB_APIKEY env variable")
    headers = {
        "Authorization": f"token {apiKey}"
    }
    
    res = requests.get(url, headers=headers, params=queryParams)
    print(res.url)
    return res.json()

In [109]:
def getQuery(location, info, queryParams={}):
    url = 'https://api.foursquare.com/v2/venues/explore'
    params = dict(
    client_id=os.getenv("ID"),
    client_secret=os.getenv("SECRET"),
    v='20200623',
    near=location ,
    query=info,
    )
    resp = requests.get(url=url, params=params)
    return json.loads(resp.text)

In [112]:
starbucks_ny = getQuery("NY", "starbucks")

In [97]:
starbucks_SF = getInfoApi("San Francisco", "starbucks")

In [114]:
def getId(location, idcategory):
    url = 'https://api.foursquare.com/v2/venues/explore'
    params = dict(
    client_id=os.getenv("ID"),
    client_secret=os.getenv("SECRET"),
    v='20200623',
    near=location ,
    categoryId=idcategory,
    )
    resp = requests.get(url=url, params=params)
    return json.loads(resp.text)

In [119]:
vegan_ny = getId("New York","4bf58dd8d48988d1d3941735")

In [121]:
vegan_SF = getId("San Francisco","4bf58dd8d48988d1d3941735")

In [174]:
vegan_SF["response"]["groups"][0]["items"][0]["venue"]["name"]
vegan_SF["response"]["groups"][0]["items"][0]["venue"]["location"]["address"]
vegan_SF["response"]["groups"][0]["items"][0]["venue"]["location"]["postalCode"]
vegan_SF["response"]["groups"][0]["items"][0]["venue"]["location"]["city"]
vegan_SF["response"]["groups"][0]["items"][0]["venue"]["location"]["state"]
vegan_SF["response"]["groups"][0]["items"][0]["venue"]["location"]["country"]
vegan_SF["response"]["groups"][0]["items"][0]["venue"]["location"]["lat"]
vegan_SF["response"]["groups"][0]["items"][0]["venue"]["location"]["lng"]

-122.41635331222618

In [177]:
a={
        "name": vegan_SF["response"]["groups"][0]["items"][0]["venue"]["name"],
        "adress": vegan_SF["response"]["groups"][0]["items"][0]["venue"]["location"]["address"],
        "zip_code": vegan_SF["response"]["groups"][0]["items"][0]["venue"]["location"]["postalCode"],
        "city": vegan_SF["response"]["groups"][0]["items"][0]["venue"]["location"]["city"],
        "state_code": vegan_SF["response"]["groups"][0]["items"][0]["venue"]["location"]["state"],
        "country_code": vegan_SF["response"]["groups"][0]["items"][0]["venue"]["location"]["country"],
        "latitude": vegan_SF["response"]["groups"][0]["items"][0]["venue"]["location"]["lat"],
        "longitude": vegan_SF["response"]["groups"][0]["items"][0]["venue"]["location"]["lng"]
    }

In [180]:
a2=pd.DataFrame(a, index=[0])
a2

,name,adress,zip_code,city,state_code,country_code,latitude,longitude
0,Ananda Fuara,1298 Market St,94102,San Francisco,CA,United States,37.777693,-122.416353